@import 'compass';

$html-background-color: #ededed;
$content-border: #efefef;
$item-border: #efefef;

body {
}

div {
	display: block;
	overflow: hidden;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
}

img {
	max-width: 100%;
	max-height: 100%;
	// min-height: 100%;
	// height: auto;
}

.main_content {
	background-color: $html-background-color;
	margin-top: 51px;
	text-align: center;
	overflow: hidden;
	padding: 0px;
	// min-width: 1140px;
}

.home {
	position: relative;
	clear: both;
	max-width: 1120px;
	// min-width: 1120px;
	margin: 0px auto;
}

.sub_content {
    position: relative;
    overflow: hidden;
    // padding-top: 1px;
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 12px;
    border: 1px solid $content-border;
    border-color: rgba(0,0,0,.14);
    box-shadow: 0 3px 8px -6px rgba(0,0,0,.1);
}

.skill {
	border: none;
	max-height: 460px;
}

.sina {
	width: 727px;
	height: 320px;
	float: left;
}
.weibo {
	width: 727px;
	height: 320px;
	float: left;
}
.pace {
	width: 363px;
	height: 642px;
	float: right;
}



.project_left {
	width: 66%;
	float: left;
	background-color: #ffffff;
}
.project_right {
	width: 34%;
	float: right;
	background-color: #ffffff;
}

.project_left_top {
	width: 100%;
}
.project_left_bottom {
	width: 100%;
}

.project_right_top {
	border: 1px solid $item-border;
	// border-top: none;
	// border-bottom: none;
	border-left: none;
	// border-right: none;
	width: 100%;
	float: left;
	height: 640px;
	img {
		max-height: 100%;
	}
	overflow: hidden;
}
.project_right_bottom {
	border: 1px solid $item-border;
	border-top: none;
	// border-bottom: none;
	border-left: none;
	// border-right: none;
	width: 100%;
	float: right;
	height: 405px;
}

.project_left_top_1 {
	border: 1px solid $item-border;
	// border-top: none;
	// border-bottom: none;
	// border-left: none;
	// border-right: none;
	width: 100%;
	height: 320px;
}
.project_left_top_2 {
	border: 1px solid $item-border;
	border-top: none;
	// border-bottom: none;
	// border-left: none;
	// border-right: none;
	width: 100%;
	height: 320px;
}
.project_left_bottom_1 {
	border: 1px solid $item-border;
	border-top: none;
	// border-bottom: none;
	// border-left: none;
	// border-right: none;
	width: 50%;
	float: left;
	height: 405px;
}
.project_left_bottom_2 {
	border: 1px solid $item-border;
	border-top: none;
	// border-bottom: none;
	border-left: none;
	// border-right: none;
	width: 50%;
	float: left;
	height: 405px;
}

.project_item:hover {
	box-shadow: 0 0 38px rgba(0.1,0.1,0.1,.18) inset;
	transition: all .15s ease;
	
}



