<!DOCTYPE html>
<html ng-app="jpangApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Jie Pang</title>
	<meta name="description" content="JPang.INFO is Jie Pang's portfolio website">
	<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">

	<link rel="stylesheet" type="text/css" href="stylesheets/app.css">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controller.js"></script>
	<script src="js/service.js"></script>

	<!-- <script src="js/radarChart.js"></script>	 -->
</head>
<body>
	<nav role="navigation" class="navbar navbar-inverse navbar-fixed-top" ng-controller="ScrollCtrl">
		<div class="navbar-header">
			<button type="button" data-target="#mobile_nav" data-toggle="collapse" class="navbar-toggle">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">Jie</a>
		</div>

		<div id="navbarCollapse" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<!-- <li ng-class="{active: $state.includes('home')}"><a ui-sref="home" ng-click="gotoElement('home')">Home</a></li> -->
				<li ng-class="{active: $state.includes('skill')}"><a ui-sref="skill" ng-click="gotoElement('home')">Skill</a></li>
				<li ng-class="{active: $state.includes('exp')}"><a ui-sref="exp" ng-click="gotoElement('exp')">Experience</a></li>
				<li ng-class="{active: $state.includes('project')}"><a ui-sref="project" ng-click="gotoElement('project')">Porject</a></li>
				<li ng-class="{active: $state.includes('contact')}"><a ui-sref="contact" ng-click="gotoElement('contact')">Contact</a></li>
<!-- 				<li ng-class="{active: $state.includes('contact')}"><a ui-sref="contact">Contact</a></li>
				<li ng-class="{active: $state.includes('about')}"><a ui-sref="about">About Us</a></li> -->
			</ul>
		</div>
		<div id="mobile_nav" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
<!-- 				<li ng-class="{active: $state.includes('home')}">
					<a class="visible-xs" data-toggle="collapse" data-target="#mobile_nav" ui-sref="home" ng-click="gotoElement('home')">Home</a>
				</li> -->
				<li ng-class="{active: $state.includes('skill')}">
					<a class="visible-xs" data-toggle="collapse" data-target="#mobile_nav" ui-sref="skill" ng-click="gotoElement('skill')">Skill</a>
				</li>
				<li ng-class="{active: $state.includes('exp')}">
					<a class="visible-xs" data-toggle="collapse" data-target="#mobile_nav" ui-sref="exp" ng-click="gotoElement('exp')">Experience</a>
				</li>
				<li ng-class="{active: $state.includes('project')}">
					<a class="visible-xs" data-toggle="collapse" data-target="#mobile_nav" ui-sref="project" ng-click="gotoElement('project')">Porject</a>
				</li>
				<li ng-class="{active: $state.includes('contact')}">
					<a class="visible-xs" data-toggle="collapse" data-target="#mobile_nav" ui-sref="contact" ng-click="gotoElement('contact')">Contact</a>
				</li>
<!-- 				<li ng-class="{active: $state.includes('contact')}">
					<a class="visible-xs" data-toggle="collapse" data-target="#mobile_nav"  ui-sref="contact">Contact</a>
				</li>
				<li ng-class="{active: $state.includes('about')}">
					<a class="visible-xs" data-toggle="collapse" data-target="#mobile_nav"  ui-sref="about">About Us</a>
				</li> -->
			</ul>
		</div>
	</nav>
	<div class="main_content" ui-view></div>

	<footer id="contact">
			<div class="home foot_content">
				<p>Text Me:</p>
				<input type="text">
				<button>Send</button>
				<p>Email Me:</p>
				<p>pangjiefb@gmail.com</p>
			</div>
	</footer>

</body>
</html>
