<!DOCTYPE html>
<html ng-app="jpangApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Jie Pang</title>
	<meta name="description" content="JPang.INFO is Jie Pang's portfolio website">
	<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">

	<link rel="stylesheet" type="text/css" href="stylesheets/app.css">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controller.js"></script>
	<script src="js/service.js"></script>

	<!-- <script src="js/radarChart.js"></script>	 -->
</head>
<body>
	<nav role="navigation" class="navbar navbar-inverse navbar-fixed-top" ng-controller="ScrollCtrl">
		<div class="navbar-header">
			<button type="button" data-target="#mobile_nav" data-toggle="collapse" class="navbar-toggle">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">Jie</a>
		</div>

		<div id="navbarCollapse" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<!-- <li ng-class="{active: $state.includes('home')}"><a ui-sref="home" ng-click="gotoElement('home')">Home</a></li> -->
				<li ng-class="{active: $state.includes('skill')}"><a ui-sref="skill" ng-click="gotoElement('home')">Skill</a></li>
				<li ng-class="{active: $state.includes('exp')}"><a ui-sref="exp" ng-click="gotoElement('exp')">Experience</a></li>
				<li ng-class="{active: $state.includes('project')}"><a ui-sref="project" ng-click="gotoElement('project')">Porject</a></li>
				<li ng-class="{active: $state.includes('contact')}"><a ui-sref="contact" ng-click="gotoElement('contact')">Contact</a></li>
<!-- 				<li ng-class="{active: $state.includes('contact')}"><a ui-sref="contact">Contact</a></li>
				<li ng-class="{active: $state.includes('about')}"><a ui-sref="about">About Us</a></li> -->
			</ul>
		</div>
		<div id="mobile_nav" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
<!-- 				<li ng-class="{active: $state.includes('home')}">
					<a class="visible-xs" data-toggle="collapse" data-target="#mobile_nav" ui-sref="home" ng-click="gotoElement('home')">Home</a>
				</li> -->
				<li ng-class="{active: $state.includes('skill')}">
					<a class="visible-xs" data-toggle="collapse" data-target="#mobile_nav" ui-sref="skill" ng-click="gotoElement('skill')">Skill</a>
				</li>
				<li ng-class="{active: $state.includes('exp')}">
					<a class="visible-xs" data-toggle="collapse" data-target="#mobile_nav" ui-sref="exp" ng-click="gotoElement('exp')">Experience</a>
				</li>
				<li ng-class="{active: $state.includes('project')}">
					<a class="visible-xs" data-toggle="collapse" data-target="#mobile_nav" ui-sref="project" ng-click="gotoElement('project')">Porject</a>
				</li>
				<li ng-class="{active: $state.includes('contact')}">
					<a class="visible-xs" data-toggle="collapse" data-target="#mobile_nav" ui-sref="contact" ng-click="gotoElement('contact')">Contact</a>
				</li>
<!-- 				<li ng-class="{active: $state.includes('contact')}">
					<a class="visible-xs" data-toggle="collapse" data-target="#mobile_nav"  ui-sref="contact">Contact</a>
				</li>
				<li ng-class="{active: $state.includes('about')}">
					<a class="visible-xs" data-toggle="collapse" data-target="#mobile_nav"  ui-sref="about">About Us</a>
				</li> -->
			</ul>
		</div>
	</nav>
	<div class="main_content" ui-view></div>

<footer>
	<div class="sub_content collection footer_title">
		<h2>Collection</h3>
	</div>
		
	</div>
	<div class="sub_content collection">
		<div class="collection_item national_park">
			<div class="collection_item_title">
				<h4>National Park</h4>
			</div>
			<div class="collection_item_content">
			<input type="checkbox" checked>Princess Coding</br>

			<input type="checkbox" checked>Super Mario 2 Coin</br>

			<input type="checkbox" checked>Fire Emblem</br>

			<input type="checkbox" checked>塞尔达：三角神力</br>

			<input type="checkbox" checked>口袋妖怪 Y</br>

			<input type="checkbox" checked>BRAVELY DEFAULT</br>

			<input type="checkbox" checked>DONKEY KONG - Returns</br>

			<input type="checkbox" checked>Monster Hunter 3G</br>

			<input type="checkbox" checked>One Piece Unlimited Red</br>

			<input type="checkbox" checked>Harvest Moon 3D</br>

			<input type="checkbox" checked>Monster Hunter 4U</br>

			<input type="checkbox" checked>节奏天国</br>

			<input type="checkbox" checked>Fire Emblem: if</br>

			<input type="checkbox" checked>Monster hunter X</br>

			<input type="checkbox" checked>Isam</br>

			<input type="checkbox" checked>塞尔达：三角神力3 （三人合作）</br>

			<input type="checkbox" checked>塞尔达无双：海拉尔的XXX</br>

			<input type="checkbox" checked>星之卡比</br>
			</div>
		</div>
		<div class="collection_item book">
			<div class="collection_item_title">
				<h4>Book</h4>
			</div>
			<div class="collection_item_content">

			<input type="checkbox" checked>《一路去死》 那多 </br>

			<input type="checkbox" checked>《喂食者协会》 那多 </br>

			<input type="checkbox" checked>《三十六大》 冯唐 豆瓣阅读 旧文 </br>

			<input type="checkbox" checked>《巴黎烧了么？》 </br>

			<input type="checkbox" checked>《日本AV影像史》藤木 </br>

			<input type="checkbox" checked>《1980年代的爱情》野夫 </br>

			<input type="checkbox" checked> 《乡关何处》野夫 </br>

			<input type="checkbox" checked> 《身边的江湖》野夫 </br>

			<input type="checkbox" checked>《猫力乱步》猫力 豆瓣阅读 </br>

			<input type="checkbox" checked>《世界尽头》那多 虎头蛇尾 </br>

			<input type="checkbox" checked>《一个很高兴见到你》韩寒监制 豆瓣阅读 </br>

			<input type="checkbox" checked>《所有人问所有人》韩寒监制 豆瓣阅读 </br>

			<input type="checkbox" checked>《MacTalk》 池建强 豆瓣阅读 </br>

			<input type="checkbox" checked>《我讲个笑话，你可别哭》 囧哥 豆瓣阅读 </br>

			<input type="checkbox" checked>《7天治愈拖延症》 丁小云 豆瓣阅读 </br>

			<input type="checkbox" checked>《美好百科One》王欢欢 豆瓣阅读 </br>

			<input type="checkbox" checked>《美好百科Two》王欢欢 豆瓣阅读 </br>

			<input type="checkbox" checked>《The Tipping Point》Kindle </br>

			<input type="checkbox" checked>《Objective C Programming》Kindle </br>

			<input type="checkbox" checked> Blown Covers </br>

			<input type="checkbox" checked> 《民国吃家》 </br>

			<input type="checkbox" checked> 《去你家玩好吗》一个 </br>

			<input type="checkbox" checked> 《想得美》 一个 </br>

			<input type="checkbox" checked> 《素女经》冯唐 </br>

			<input type="checkbox" checked>《美好百科Two》王欢欢 豆瓣阅读 </br>

			<input type="checkbox" checked> 《美好百科Three》王欢欢 豆瓣阅读 </br>

			<input type="checkbox" checked> 《我爱问连岳5》连岳 </br>

			<input type="checkbox" checked> 《Beijing Beijing》冯唐 </br>

			<input type="checkbox" checked> 《至味在人间》陈晓卿 </br>
			</div>
		</div>
		<div class="collection_item game">
		<div class="collection_item_title">
			<h4>Game</h4>
		</div>
			<div class="collection_item_content">
			<input type="checkbox" checked> Blood born - The old hunter </br>

			<input type="checkbox" checked> Metal Gear Solid V </br>

			<input type="checkbox" checked> Fallout 4 </br>

			<input type="checkbox" checked> Don’t starve </br>

			<input type="checkbox" checked> 光之子 </br>

			<input type="checkbox" checked> 三国战记 </br>

			<input type="checkbox" checked> Dark Soul 3 </br>

			<input type="checkbox" checked> 奥丁领域 </br>

			<input type="checkbox" checked> 坦克世界 </br>

			<input type="checkbox" checked> 魔兽世界@台服 </br>

			<input type="checkbox" checked> 魔兽世界@国服 </br>

			<input type="checkbox" checked> 暗黑破坏神III </br>

			<input type="checkbox" checked> Dota2@stream </br>

			<input type="checkbox" checked> 炉石战记@台服/美服/国服 </br>

			<input type="checkbox" checked> 生化奇兵-无限城 </br>

			<input type="checkbox" checked> 暗黑破坏神III 夺魂之镰 </br>

			<input type="checkbox" checked> 巫师 </br>

			<input type="checkbox" checked> 巫师2 </br>

			<input type="checkbox" checked> Don’t Starve </br>

			<input type="checkbox" checked> Don’t Starve together </br>

			<input type="checkbox" checked> Borderlands: The Pre-Sequel </br>

			<input type="checkbox" checked> Titan Souls </br>

			<input type="checkbox" checked> Tomb Raider 9 </br>

			<input type="checkbox" checked> Transistor </br>

			<input type="checkbox" checked> Banter the Gungeon </br>

			<input type="checkbox" checked> Game Dev Tycoon </br>

			<input type="checkbox" checked> Hearts of Iron IV </br>

			<input type="checkbox" checked> Jotun </br>

			<input type="checkbox" checked> Darkest Dungeo </br>

			<input type="checkbox" checked> Stared Valley </br>
			</div>
		</div>
	</div>
</footer>

</body>
</html>
