/* line 7, ../sass/app.scss */
body {
  width: 100%;
}

/* line 11, ../sass/app.scss */
div {
  display: block;
  overflow: hidden;
}

/* line 16, ../sass/app.scss */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
}

/* line 21, ../sass/app.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 28, ../sass/app.scss */
footer {
  background-color: #282828;
  color: #ffffff;
  text-align: center;
  overflow: hidden;
  padding: 0px;
}

/* line 37, ../sass/app.scss */
a {
  cursor: pointer;
}

/* line 41, ../sass/app.scss */
.main_content {
  background-color: #ededed;
  margin-top: 51px;
  text-align: center;
  overflow: hidden;
  padding: 0px;
}

/* line 51, ../sass/app.scss */
.home {
  position: relative;
  clear: both;
  max-width: 960px;
  margin: 0px auto;
}

/* line 60, ../sass/app.scss */
.sub_content {
  position: relative;
  overflow: hidden;
  margin-top: 12px;
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 12px;
  margin-bottom: 12px;
  border-color: rgba(0, 0, 0, 0.14);
  box-shadow: 0 3px 8px -6px rgba(0, 0, 0, 0.1);
}

/* line 74, ../sass/app.scss */
.skill {
  background-color: #ffffff;
}

/* line 82, ../sass/app.scss */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 300;
}

/* line 94, ../sass/app.scss */
.project_item:hover .dropdown-content {
  display: block;
}

/* line 103, ../sass/app.scss */
.project_left {
  width: 66.6669%;
  float: left;
  background-color: #ffffff;
}

/* line 108, ../sass/app.scss */
.project_right {
  width: 33.33331%;
  float: right;
  background-color: #ffffff;
}

/* line 114, ../sass/app.scss */
.project_left_top {
  width: 100%;
}

/* line 117, ../sass/app.scss */
.project_left_bottom {
  width: 100%;
}

/* line 121, ../sass/app.scss */
.project_right_top {
  border: 1px solid #efefef;
  border-left: none;
  width: 100%;
  float: left;
  overflow: hidden;
}

/* line 132, ../sass/app.scss */
.project_right_bottom {
  border: 1px solid #efefef;
  border-top: none;
  border-bottom: none;
  border-left: none;
  width: 100%;
  float: right;
}

/* line 142, ../sass/app.scss */
.project_left_top_1 {
  border: 1px solid #efefef;
  width: 100%;
}

/* line 151, ../sass/app.scss */
.project_left_top_2 {
  border: 1px solid #efefef;
  border-top: none;
  border-bottom: none;
  width: 100%;
}

/* line 159, ../sass/app.scss */
.project_left_bottom_1 {
  border: 1px solid #efefef;
  border-bottom: none;
  width: 50%;
  float: left;
}

/* line 168, ../sass/app.scss */
.project_left_bottom_2 {
  border: 1px solid #efefef;
  border-bottom: none;
  border-left: none;
  width: 50%;
  float: left;
}

/* line 178, ../sass/app.scss */
.project_item:hover {
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.38) inset;
  transition: all .15s ease;
}

/* line 186, ../sass/app.scss */
.contact {
  background-color: #ffffff;
}

/* line 190, ../sass/app.scss */
.contact_left {
  width: 50%;
  float: left;
  border: 1px solid #efefef;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

/* line 200, ../sass/app.scss */
.contact_right {
  width: 50%;
  float: left;
  border: 1px solid #efefef;
  border-top: none;
  border-bottom: none;
  border-right: none;
}

/* line 210, ../sass/app.scss */
.contact_item:hover {
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.38) inset;
  transition: all .15s ease;
}

/* line 218, ../sass/app.scss */
.footer_title {
  padding-top: 20px;
  padding-bottom: 25px;
}

/* line 223, ../sass/app.scss */
.collection {
  position: relative;
  clear: both;
  max-width: 960px;
  margin: 0px auto;
}

/* line 230, ../sass/app.scss */
.collection_item {
  width: 33.333%;
  float: left;
  text-align: center;
}

/* line 236, ../sass/app.scss */
.national_park {
  border: 1px dashed #efefef;
  border-top: none;
  border-bottom: none;
  border-left: none;
}

/* line 243, ../sass/app.scss */
.book {
  border: 1px dashed #efefef;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

/* line 250, ../sass/app.scss */
.game {
  border: 1px dashed #efefef;
  border-top: none;
  border-bottom: none;
  border-right: none;
}

/* line 257, ../sass/app.scss */
.collection_item_title {
  text-align: center;
  padding-left: 0px;
}

/* line 262, ../sass/app.scss */
.collection_item_content {
  padding-left: 30px;
  text-align: left;
}

/* line 267, ../sass/app.scss */
.bottom_block {
  height: 30px;
}

/* line 271, ../sass/app.scss */
.top_block {
  height: 10px;
}
